/* components/shop-detail/shop-detail.wxss */
.shop-detail{
    position: absolute;
    top: -80px;
    margin: 0 5%;
    padding: 10px;
    height: calc(150px - 10px * 2);
    width: calc(90% - 10px * 2);
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 5px #0000000f;

    .shop-detail-head{
        display: grid;
        grid-template-columns: 70px auto;
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        height: 50%;
        border-bottom: 1px solid #e6e6e6;

        .shop-detail-head-name{
            grid-area: 1/2/2/3;
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    .shop-detail-bottom{
        display: grid;
        grid-template-columns: auto 3rem;
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        height: 50%;
        color: #8a8a8a;
        font-size: 0.8rem;
        border-top: 1px solid #e6e6e6;

        .shop-detail-bottom-detail{
            grid-area: 1/1/2/2;
        }

        .shop-detail-bottom-address{
            grid-area: 2/1/3/2;
        }

        .shop-detail-bottom-phone{
            grid-area: 1/2/3/3;
            justify-self: center;
            padding: 0 0.5rem;
            height: 2rem;
            width: 2rem;
            border-left: 1px solid #e6e6e6;
        }
    }
}