/* components/shop-detail/shop-detail.wxss */
.shop-detail{
    position: absolute;
    top: -150rpx;
    margin: 0 5%;
    height: 300rpx;
    width: 90%;
    background-color: yellow;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 5px #0000000f;
}