/**index.scss**/
page {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .container{
        padding-top: 350rpx;
        padding-bottom: 0;
        background-color: red;

        .menu {
            position: relative;
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            background-color: #f8f8f8;
            overflow: hidden;

            .list{
                flex: 1;
                display: flex;
                align-items: start;
                margin-top: 150rpx;
                height: 100%;

                .category-list{
                    height: calc(100% - 150rpx);
                    width: 200rpx;
                    background-color: #f8f8f8;

                    .category-list-item{
                        padding: 40rpx;
                        width: calc(100% - 40rpx * 2);
                        text-align: center;

                        &.active{
                            background-color: #ffffff;
                        }
                    }
                }

                .product-list{
                    flex: 1;
                    height: calc(100% - 150rpx);
                    background-color: #ffffff;

                    .product-list-item{
                        margin: 40rpx;
                        height: 250rpx;
                        width: calc(100% - 40rpx * 2);
                        text-align: center;
                        background-color: blue;

                        &.active{
                            background-color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}


