/* pages/historyOrder/historyOrder.wxss */
page{
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
}

.container{
    padding-top: 0;
    padding-bottom: 0;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;

    .order-list{
        flex: 1;
        padding: 10px;
        height: calc(100% - 10px * 2);
        width: calc(100% - 10px * 2);

        .order-list-item{
            margin: 10px 0;
            padding: 20px 10px;
            width: calc(100% - 10px * 2);
            font-size: 0.8rem;
            background-color: #ffffff;
            border-radius: 5px;

            .item-head{
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .item-head-status{
                    color: #ffaa00;
                }
            }

            .item-body{
                margin-top: 10px;
                position: relative;
                display: flex;
                align-items: center;
                height: auto;

                .item-body-dishList{
                    display: flex;
                    align-items: center;
                    width: 100%;

                    .item-body-dishList-item {
                        margin-right: 10px;

                        .item-body-dishList-item-image{
                            height: 60px;
                            width: 80px;
                            border-radius: 5px;
                        }
                    }

                    .item-body-dishList-empty {
                        display: block;
                        height: 100px;
                        min-width: 50px;
                    }
                }

                .item-body-dishInfo{
                    position: absolute;
                    right: 0;
                    padding-left: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                    height: 100%;
                    background-color: rgba($color: #ffffff, $alpha: 0.7);

                    .item-body-dishInfo-amount{
                        font-size: 1rem;
                    }

                    .item-body-dishInfo-number{
                        color: #707070;
                    }
                }
            }

            .item-bottom{
                display: flex;
                justify-content: flex-end;
                align-items: center;

                button{
                    margin: 0;
                    margin-left: 10px;
                    font-size: 0.8rem;
                }
            }
        }
    }
}