/* components/cart-bar.wxss */
.cart-bar{
    position: absolute;
    margin: 0 5%;
    bottom: 100rpx;
    height: 100rpx;
    width: 90%;
    color: #ffffff;
    background-color: #000000;
    border-radius: 50rpx;
}